<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="xmlJDBCConnection" class="com.springcore.core.xmluser.XmlJDBCConnection">
    </bean>
    <bean id="xmlUserDAO" class="com.springcore.core.xmluser.XmlUserDAO">
        <property name="xmljdbcConnection" ref="xmlJDBCConnection"/>
    </bean>
<!--Using Beans for setter dependency injection and injecting Addition Object-->
    <bean id="addition" class="com.springcore.core.xml_Compute.Addition"/>
    <bean id="addNumbers" class="com.springcore.core.xml_Compute.XMLSetter_CalculateNumbersImpl">
        <property name="compute" ref="addition" />
    </bean>

    <!--Using Beans for setter dependency injection and injecting Subrtaction Object-->

    <bean id="subtraction" class="com.springcore.core.xml_Compute.Subtraction"/>
    <bean id="subtractNumbers" class="com.springcore.core.xml_Compute.XMLSetter_CalculateNumbersImpl">
        <property name="compute" ref="subtraction" />
    </bean>

    <!--Using Beans for setter dependency injection and injecting Multiplication Object-->

    <bean id="multiply" class="com.springcore.core.xml_Compute.Multiplication"/>
    <bean id="multiplyNumbers" class="com.springcore.core.xml_Compute.XMLSetter_CalculateNumbersImpl">
        <property name="compute" ref="multiply" />
    </bean>

    <!--Using Beans for setter dependency injection and injecting Division Object-->

    <bean id="divide" class="com.springcore.core.xml_Compute.Division"/>
    <bean id="divideNumbers" class="com.springcore.core.xml_Compute.XMLSetter_CalculateNumbersImpl">
        <property name="compute" ref="divide" />
    </bean>

    <context:component-scan base-package="com.springcore"/>


</beans>